<div class="w3-row">
    <div class="w3-container w3-quarter">
       <!--  <select class="w3-select" name="option">            
            <option value="1">PDF</option>
        </select>
        <span>
        <form  id="formReporte" method="POST" name="formReporte">        	
        	<a title="Reporte"  href="#"  ng-click="abrirReporte()"><i class="fa fa-print fa-2x" aria-hidden="true"></i></a></span>
        	<input type="hidden" name="data" id="data" ng-model="formReporte.json">        	
        </form> -->
    </div>
    <div class="w3-container w3-half">
    </div>
    <div class="w3-container w3-rest"> 
        <input type="text" class="w3-input w3-border" placeholder="Buscar" name="buscar" ng-change="buscarEnArray()" ng-model="formBuscar.buscarEn">
    </div>
</div>
